<h1 class='title'>ToDoList</h1>
<div class='formulario'>
  <p>Type something bitch</p>
<input [(ngModel)]='inputValue' class='formulario1' type="text"  >
</div>
<div class='boton'>
<input (click)="clicked()" class='boton1' type="button" value="ok im your bitch">
<input (click)="clicked2()" class='boton2' type="button" value="dilit this one">
<input (click)="print()" class='boton3' type="button" value="print vector">
</div>
<ul> <li *ngFor="let asd of input">{{asd}}</li>
</ul>
  <!--<input (ngModelChange)='cambioDeValor($event)' [(ngModel)]='inputValue' type='text'/>
<br>
<div *ngIf='inputValue.length > 5' >{{inputValue}}</div>-->